body{
	background: white;
	font-family: 'Le Jour';
}
/***********************************************************/
/*Aca referencio al DH y le indico el ancho que va a tener*/
.logo1{
	width: 300px;
}
/***********************************************************/
.logo{
	width: 55px;
}

.prueba {
	display: flex;
	justify-content: flex-start;
	padding-left: 50px;

}

@font-face {
    font-family: 'Le Jour';
    font-style: normal;
    font-weight: 400;
    src: local('Le Jour'), url('https://fonts.cdnfonts.com/s/27182/LeJourSerif-OVZMo.woff') format('woff');
}

.dhTitulo{
	
	font-family: 'Le Jour';
	
}



.botonera li{
	display: inline-block;
	margin-left: 30px;
	font-weight: 600;
	font-size: 15px;

}
.botonera li a{
	color: black;


}
.botonera li a:hover{
	color: darkviolet;
	text-decoration: none;
	font-size: 17px;

	

}

.btncard {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
	background: darkviolet;

}
.categorias {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-right: 50px;

}


.titulop {
	font-size: 20px;
	font-weight: bold;
}

.titulop2{
	background-color: darkviolet;
	border-radius: 30px;
	padding-top: 3px;
}

header{
	background: white; 
	padding-top: 15px;
	padding-bottom: 5px;
	position: fixed;
	width: 100%;
	z-index: 34242;
	height: 50px;

}

.principal{
	height: 90vh;
	background: url(../images/backgroundLavanda.jpg) center center fixed;
	background-repeat: repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.vertical-centered-text {
  -ms-display: flex;
  display: flex;
  /* alineacion vertical */
  align-items: center;
   /* alineacion horizontal */
  justify-content: center;
}

/***********************************************************/
/*Aca se referencia al div que contiene el desde el DH hasta el botón VER PRODUCTOS**/
.cta{
	/*Esto es lo unico que tenias antes, es para que los textos vayan al centro*/
	text-align: center;
	/*esto es para poder alinear los elmentos de ese div con flexbox*/
	display: flex;
	/*aca le indicas que va a ir uno abajo del otro*/
	flex-direction: column;
	/*aca le indicas que los elementos van al centro del div*/
	align-items: center;
}
/***********************************************************/
h1{
	font-weight: 700;
	font-size: 50px;
	color: black;
    font-family: 'DHfuente';
}

.orange{

	background: #25FFCF;
}
.boton1 {
	font-size: 25px;
	color: black;
	font-weight:  800;

}
.boton2 {
	font-size: 25px;
	background: darkviolet;
	color: black;
	font-weight:  800;

}
.nosotros{
	width: 100%;
	height: 50vh;
	text-align: center;
	padding-top: 150px;
}
.nosotros h1{
	font-weight: 100;
}

.servicios{
	text-align: center;
	padding-top: 65px;
	padding-bottom: 50px;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
}
.row{
	padding-top: 65px;
	display: flex;
	justify-content: center;
}
.servicios img{
	width: 40%;
	text-align: center;
}

.servicios h1{
	color: black;
	font-weight: 10;
	font-family: 'Le Jour';
	
}

.condcard{
	display: flex;
	align-items: center;
	align-content: space-between 5px;

}

.card{

	border-radius: 25px;
}
.card-title{
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.card-text{
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.card-img-top{
	
	width: 100%; 
 max-height: 100%;

}
.category {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

.servicios .images{
	padding-top: 30px;
}

.row2{
	background-color: #25FFCF;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
}
.images .col-md-3{
	padding-top: 20px;

}
.social{
	text-align: center;
}
.social img{
	width: 30%;
	text-align: center;
}

footer{
	background: rgb(192, 192, 192);
	height: 50vh;
	padding-top: 30px;
}
footer h1{
	text-align: center;
	font-weight: 100;

}

#home {
	color: black;
}
.col-xs-4{
	text-align: center;
}


/*@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { }
@media only screen and (min-width: 324px) and (max-width: 736px) {*/
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
  /* iPhone only */
  /* Styles */

  .off {
    display: none !important;
  }
  .on {
    display: block !important;
  }
  .col-md-2 {
    width: 100%;
  }
  .social img{
  	width: 100%;
  }
  .botonera li a {
    font-size: 13px;
}
.nosotros{
	height: 400px;
	overflow: hidden;
	padding-top: 15px;
}
#home{
	padding-top: 65px;
}

h1{
	font-size: 30px;
}

footer{
	padding-top: 10px;
}
}
